/* 清除默认样式 */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* 背景设置 */
.set-bg{
    background-repeat: no-repeat;
    background-size:cover;
    background-position: top center;
}
/* 头部设置 */
.header-section{
    height:80px;
    background-color: #131313;
    border-bottom: 1px solid #ffb320;
}
.header-section .container{
    width:1200px;
    margin:0 auto;
    border:1px solid red;
    padding:16px 0px;
    display:flex;
    justify-content: space-between;
}
.site-logo{
    padding-top: 6px;
}

/* 导航设置 */
.main-menu{
    margin-right: 100px;
}

.main-menu ul{
    list-style:none;
}

.main-menu ul li{
    float: left;
}

.main-menu ul li a {
    display:inline-block;
    font-size: 16px;
    color: #fff;
    margin-left: 35px;
    font-weight: 600;
    padding: 10px 5px;
}

.main-menu ul li a:hover{
    color:#ffb320;
}

.user-panel{
    font-weight:500;
    background-color: #ffb320;
    padding:8px 28px;
    border-radius: 30px;
}

.user-panel a{
    font-size:14px;
    color:#131313;
    font-weight: 600;
}

a,a:hover,a:focus{
    text-decoration: none;
    outline: none;
}

/* 轮播图开始 */
.hero-section{
    background-color: #131313;
}

.hero-slider .hs-item{
    height: 865px;
    display:table;
    width:100%;
}

/* 版心设置 */
.hero-section .container{
    width:1200px;
    margin:0 auto;
    border: 1px solid red;
}

/* 文字内容区域 */
.hero-slider .hs-text{
    display:table-cell;
    vertical-align:middle;
}

/* 标题设置 */
.hero-slider .hs-text h2{
    color:#fff;
    font-weight: 400;
    font-size: 60px;
    margin-bottom: 30px;
    position:relative;
    top:-80px;
    opacity:1
}

/* 标题黄色字体设置 */
.hero-slider .hs-text h2 span {
    color:#ffb320
}

/* 段落文本设置 */
.hero-slider .hs-text p{
    font-size:14px;
    line-height:2;
        color:#fff;
        margin-bottom: 30px;
        position:relative;
        top:-90px;
        opacity:1;
}

.site-btn{
    padding:11px 30px;
    min-width:90px;
    display:inline-block;
    color:#fff;
    background-color: #ffb320;
    border-radius: 30px;
    FONT-WEIGHT:600;
    position: relative;
        top:-100px;
        opacity:1;
}


/* owl */
.hero-slider .owl-dots {
    position: relative;
    max-width: 1146px;
    margin: -33px auto 0;
    top: -67px;
    z-index: 5;
}
.hero-slider .owl-dots .owl-dot {
    display: inline-block;
    margin-right: 13px;
    width: 33px;
    height: 33px;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    padding-top: 7px;
    border-radius: 40px;
    background: #dbe2ec;
}

.hero-slider .owl-dots .owl-dot.active {
    background: #ffb320;
  color: #fff;
} 

.hero-slider .owl-item.active .hs-item h2,
.hero-slider .owl-item.active .hs-item p,
.hero-slider .owl-item.active .hs-item .site-btn {
    top: 0;
    opacity: 1;
}
/* 会在1秒后开始淡入并移动到正确的位置 */
.hero-slider .owl-item.active .hs-item h2 {
    transition: all 0.5s ease 1s;
}
.hero-slider .owl-item.active .hs-item p {
    transition: all 0.5s ease 0.8s;
}
.hero-slider .owl-item.active .hs-item .site-btn {
    transition:all 0.5s ease 0.6s;
}


/* 最新新闻模块 */
.latest-news-section {
    overflow: hidden;
    display:block;
    clear:both;
    background: #131313;
    padding: 24px 0;
    position:relative;  /*相对定位：身子动了，影子还在*/
}

.intitle{
    position:absolute; /*绝对定位：彻底放飞自我 后面的元素会自动补齐位置*/
    height:100%;
    width:30%;
    LEFT:0;
    TOP:0;
    text-align: right;
    padding-top:24px;
    padding-right:66px;
    font-size:18px;
    font-weight: 500;
    color:#fff;
    background:#ffb320;
    z-index:1; /*元素层级，数字越大，显示层级越高*/
}

.news-ticker{
    width:70%;
    float:right;
    overflow:hidden;
    /* display:inline-block; */
}

/* 让每条新闻横向排列，这样跑马灯才有"长长一条"可以滚动 */
.news-ticker-content .nt-item{
    display: inline-block;   /* 横向排列的关键 */
    color: #fff;
    font-size: 14px;
    margin-right: 40px;      /* 每条新闻之间留点距离 */
}

.news-ticker-content .nt-item span{
    margin-right: 35px; /*右边的空气填充*/
    display:inline-block;
    text-transform: uppercase;  /*全部大写*/
    font-size:12px;
    font-weight: 500;
    color:#fff;
    padding: 4px 20px;
}

.news-ticker-content .nt-item span.new{
    background: #ff205f;
}
.news-ticker-content .nt-item span.strategy{
    background: #4eae60;
}
.news-ticker-content .nt-item span.racing{
    background: #694eae;
}