/* 清除默认样式 */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* 背景设置 */
.set-bg{
    background-repeat: no-repeat;
    background-size:cover;
    background-position: top center;
}
/* 头部设置 */
.header-section{
    height:80px;
    background-color: #131313;
    border-bottom: 1px solid #ffb320;
}
.header-section .container{
    width:1200px;
    margin:0 auto;
    border:1px solid red;
    padding:16px 0px;
    display:flex;
    justify-content: space-between; /* 两端对齐，中间散开 */
}
.site-logo{
    padding-top: 6px;
}

/* 导航设置 */
.main-menu{
    margin-right: 100px;
}

.main-menu ul{
    list-style:none;
}

.main-menu ul li{
    float: left;
}

.main-menu ul li a {
    display:inline-block;
    font-size: 16px;
    color: #fff;
    margin-left: 35px;
    font-weight: 600;
    padding: 10px 5px;
}

.main-menu ul li a:hover{
    color:#ffb320;
}

.user-panel{
    font-weight:500;
    background-color: #ffb320;
    padding:8px 28px;
    border-radius: 30px;
}

.user-panel a{
    font-size:14px;
    color:#131313;
    font-weight: 600;
}

a,a:hover,a:focus{
    text-decoration: none;
    outline: none;
}

/* 轮播图开始 */
.hero-section{
    background-color: #131313;
}

.hero-slider .hs-item{
    height: 865px;
    display:table;
    width:100%;
}

/* 版心设置 */
.hero-section .container{
    width:1200px;
    margin:0 auto;
    border: 1px solid red;
}

/* 文字内容区域 */
.hero-slider .hs-text{
    display:table-cell;
    vertical-align:middle;
}

/* 标题设置 */
.hero-slider .hs-text h2{
    color:#fff;
    font-weight: 400;
    font-size: 60px;
    margin-bottom: 30px;
    position:relative;
    top:-80px;
    opacity:1
}

/* 标题黄色字体设置 */
.hero-slider .hs-text h2 span {
    color:#ffb320
}

/* 段落文本设置 */
.hero-slider .hs-text p{
    font-size:14px;
    line-height:2;
        color:#fff;
        margin-bottom: 30px;
        position:relative;
        top:-90px;
        opacity:1;
}

.site-btn{
    padding:11px 30px;
    min-width:90px;
    display:inline-block;
    color:#fff;
    background-color: #ffb320;
    border-radius: 30px;
    FONT-WEIGHT:600;
    position: relative;
        top:-100px;
        opacity:1;
}


/* owl */
.hero-slider .owl-dots {
    position: relative;
    max-width: 1146px;
    margin: -33px auto 0;
    top: -67px;
    z-index: 5;
}
.hero-slider .owl-dots .owl-dot {
    display: inline-block;
    margin-right: 13px;
    width: 33px;
    height: 33px;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    padding-top: 7px;
    border-radius: 40px;
    background: #dbe2ec;
}

.hero-slider .owl-dots .owl-dot.active {
    background: #ffb320;
  color: #fff;
} 

.hero-slider .owl-item.active .hs-item h2,
.hero-slider .owl-item.active .hs-item p,
.hero-slider .owl-item.active .hs-item .site-btn {
    top: 0;
    opacity: 1;
}
/* 会在1秒后开始淡入并移动到正确的位置 */
.hero-slider .owl-item.active .hs-item h2 {
    transition: all 0.5s ease 1s;
}
.hero-slider .owl-item.active .hs-item p {
    transition: all 0.5s ease 0.8s;
}
.hero-slider .owl-item.active .hs-item .site-btn {
    transition:all 0.5s ease 0.6s;
}


/* 最新新闻模块 */
.latest-news-section {
    overflow: hidden;
    display:block;
    clear:both;
    background: #131313;
    padding: 24px 0;
    position:relative;  /*相对定位：身子动了，影子还在*/
}

.intitle{
    position:absolute; /*绝对定位：彻底放飞自我 后面的元素会自动补齐位置*/
    height:100%;
    width:30%;
    LEFT:0;
    TOP:0;
    text-align: right;
    padding-top:24px;
    padding-right:66px;
    font-size:18px;
    font-weight: 500;
    color:#fff;
    background:#ffb320;
    z-index:1; /*元素层级，数字越大，显示层级越高*/
}

.news-ticker{
    width:70%;
    float:right;
    overflow:hidden;
    /* display:inline-block; */
}

/* 让每条新闻横向排列，这样跑马灯才有"长长一条"可以滚动 */
.news-ticker-content .nt-item{
    display: inline-block;   /* 横向排列的关键 */
    color: #fff;
    font-size: 14px;
    margin-right: 40px;      /* 每条新闻之间留点距离 */
}

.news-ticker-content .nt-item span{
    margin-right: 35px; /*右边的空气填充*/
    display:inline-block;
    text-transform: uppercase;  /*全部大写*/
    font-size:12px;
    font-weight: 500;
    color:#fff;
    padding: 4px 20px;
}

.news-ticker-content .nt-item span.new{
    background: #ff205f;
}
.news-ticker-content .nt-item span.strategy{
    background: #4eae60;
}
.news-ticker-content .nt-item span.racing{
    background: #694eae;
}


/*功能模块*/
.feature-section {
    padding:20px; /*四周20px空气*/
    padding-top:97px; /*上方指定为97px空气*/
        padding-bottom: 97px; /*下方指定为97px空气*/
}

.container{
    max-width: 1200px; /* 最大宽度只有1200像素 */
    margin:0 auto; /* 上下0,左右"自动" → 浏览器把它居中 */
}

.feature-now {
    display:flex;
    justify-content: space-between; /* 两端对齐，中间散开 */
}

.feature-column{
    width:23%;
    padding:0;
    border:1px solid red;
}

/* 功能模块内容区域代码 */
.feature-item{
    border:1px solid pink;
    height:415px;
    position: relative; /*相对定位：身子动了，影子还在*/
    background-color: #ccc;
}

.feature-item:after{ /*跟屁虫*/
    position:absolute;
    content:"";
    width:100%;
    height:100%;
    left:0;
    top:0;
    background: #000;
    opacity:.65 /*透明度设置*/
}

.feature-item .cata{
    position:relative;
    margin-top:28px;
    margin-left:29px;
    z-index:3;
}

.cata{
    display:inline-block; /*不霸占一整行,像文字一样并排*/
    text-transform: uppercase; /*显示为大写字母*/
    font-size: 12px;
    font-weight: 500;
    color:#fff;
    padding:6px 25px; /*内边距 上下6 左右25*/
}
 
.cata.new{ /*如果一个标签，它既穿了叫 cata 的衣服，又戴了叫 new 的帽子，才生效*/
    background: #ff205f;
}
.cata.strategy{
    background: #4eae60;
}
.cata.racing{
    background: #694eae;
}
.cata.adventure{
    background: #40abf5;
}

.feature-item .fi-content{ /*（中间有空格），是“父子关系”才生效！*/
    position:absolute;
    width:100%;
    left:0;
    bottom:0; /*指定这个元素的底边，距离参照物（也就是那个有定位属性的父盒子）的底边，有多远*/
    padding:0 26px 24px;
    z-index: 2;
    border:1px solid red;
}

.feature-item .fi-content .fi-comment {
    font-size:12px;
    opacity: .54;
}


.text-white h1,
.text-white h2,
.text-white h3,
.text-white h4,
.text-white h5,
.text-white h6,
.text-white p,
.text-white span,
.text-white li,
.text-white a {
    color: #fff;
}

/* 近期游戏 */
.recent-game-section{
    background-color: #eef2f6;
    border-top: 1px solid #d6dee7; /*在盒子的头顶上，画一条横线（顶边框）*/
    border-bottom: 1px solid #d6dee7;
    padding-top:97px; /*字与边框的边距*/
    padding-bottom:97px;
}

/*列容器设置*/
.game-row{
    display:flex;
    justify-content:space-between; /* 两端对齐，中间散开 */
}
/*每一列设置*/
.game-column{
    width:32%;
    padding:0;
    border:1px soild red;
}
/* 模块标题设置 */
.section-title{
    text-align: center; /*居中显示*/
    margin-bottom:75px;
}
/* 模块内h2标题 */
.section-title h2{
    padding-top:10px;
    font-size: 36px;
}
